.parentPage {
    position: relative;
    top: 110px;
}
.declarationParent {
    display: flex;
}
.userInfo {
    width: 85%;
}
.userInfo img {
    width: 100%;
}
.productInfo {
    border: 1px solid gray;
    border-radius: 8px;
    padding: 7px;
    margin-right: 15px !important;
}
.subtotal {
    font-size: 14px !important;
}
.check {
    font-size: 14px !important;
}
.btnCheck {
    font-size: 12px !important;
    background-color: var(--main-color) !important;
    color: #000 !important;
}
.userInfo p {
    padding-left: 10px;
}
.parentProductBuys {
    box-shadow: 0 0 6px gray;
} 
.broductBuysImg img {
    width: 150px;
    height: 150px;
}
.rating {
    display: flex;
}
.addtion {
    background-color: rgb(255, 136, 0);
    padding: 5px 10px;
}
@media(max-width: 992px) {
    .parentPage {
        position: relative;
        top: 112px;
    }
}

@media(max-width:768px) {
    .userInfo img {
        height: 100px;
    }
    .parentPage {
        position: relative;
        top: 112px;
    }
}
@media(max-width:576px) {
    .parentPage {
        position: relative;
        top: 100px;
    }
    .declarationParent  {
        display: block;
    }
    .userInfo {
        width: 100%;
    }
    .userInfo img {
        height: 60px;
    }
    .productInfo {
        width: 80% ;
        margin: auto !important;
    }

    .subtotal {
        font-size: 16px !important;
    }
    .value {
        font-size: 16px;
    }
    .check {
        font-size: 16px !important;
    }
    .checkBox svg {
        font-size: 17px;
    }
    .btnCheck {
        font-size: 12px !important;
    }
}