
.payment {
    position: relative;
    top: 80px;
}
.paymentCheckOute {
    text-align: center;
    text-decoration: none;
}
.inputForm{
    margin: 10px 0 !important;
}
.message {
    margin: 20px;
    padding: 20px 10px;
    
}