
.parentSignin {
    width: 100%;
    min-height: 92vh;
    background-color: var(--gray-color);
    position: relative;
    top: 78px;
}
.contentForm {
    width: 80%;
    margin: auto;

}
.logoSign {
    display: flex;
    justify-content: center;
    margin-top: 100px;
    height: 145px;
}
.btnLogin {
    background-color: var(--main-color) !important ;
    color: #000 !important;
    font-size: 23px;
    border: 1px solid gray;
    border-radius: 8px;
    text-align: center;
    font-size: 20;
}
.btnSign {
    text-align: center;
    text-transform: capitalize;
    font-size: 23px;
}
.textSigin {
    font-size: 14px ;
}
@media(max-width: 576px) {
    .logoSign {
        margin-top: 0;
    }
}